html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 2fr 3fr 15fr / 1fr 4fr;
}

.header {
    grid-area: 1/2/-3/-1;
}

.nav {
    grid-area: 2/2/-2/-1;
}

.sidebar {
    grid-area: 1/1/-1/-2;
}

.main-area {
    grid-area: 3/2/-1/-1
}

.main-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: 1/-2;
}

.misc {
    grid-column: 2/-1;
}