* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

html,
body {
    height: 100%;
    
}

.container {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 260px 1fr;
    grid-template-rows: 60px 100px 1fr;

    grid-template-areas:
        "sidebar header"
        "sidebar nav"
        "sidebar main";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.main-area {
    grid-area: main;
}

.sidebar {
    background-color: rgb(25, 146, 212);

    display: flex;
    flex-direction: column;

    gap: 50px;

    padding: 20px;

    position: sticky;
    top: 0;

    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;

    color: white;
}

.logo > p {
    font-size: 1.7rem;
    font-weight: bold;
}

.svg-logo {
    width: 50px;
    height: 50px;

    fill: white;

    flex-shrink: 0;
}

.svg-logo svg {
    width: 100%;
    height: 100%;
    display: block;
}

.lists {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar-list-1,
.sidebar-list-2 {
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 24px;

    padding: 12px;
}

.sidebar-list-1 > li,
.sidebar-list-2 > li {
    color: white;

    font-size: 1.1rem;
    font-weight: 600;

    cursor: pointer;
}

.sidebar-list-2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 18px;
}

.sidebar li svg {
    width: 24px;
    height: 24px;

    fill: white;

    flex-shrink: 0;
}

.header {
    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    gap: 24px;

    padding-left: 48px;
    padding-right: 48px;

}

.header svg {
    display: block;

    height: 100%;
}

.svg-magnify,
.svg-bell,
.svg-user-header {
    height: 50%;
}

.svg-bell {
    margin-left: auto;
    margin-right: 42px;
}

.svg-user-header {
    margin-right: -12px;
    fill: hsl(48, 96%, 50%);
}

.header > input[type="search"] {
    border-radius: 16px;
    width: 500px;
    height: 50%;

    padding-left: 16px;
    padding-right: 16px;

    font-size: 1em;
    font-weight: 400;

    background-color: rgb(226, 232, 240);
}

.header > input[type="search"]:hover {
    background-color: hsl(214, 32%, 87%);
}

.header > input[type="search"]:focus {
    background-color: hsl(214, 32%, 87%);
    outline: none;
}

.header > p {
    font-weight: 600;
}

.nav {
    background-color: white;

    border-top: 1px solid rgb(230, 230, 230);

    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 48px;
    padding-right: 36px;
}

.nav svg {
    display: block;
    height: 100%;
}

.svg-user-nav {
    fill: hsl(48, 96%, 50%);

    height: 60%;

    margin-right: -5px;
}

.nav-text {
    display: flex;
    flex-direction: column;

    font-size: 1.2em;
    font-weight: 600;
}

.top-text {
    font-size: small;
}

.bottom-text {
    display: flex;
    gap: 5px;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
    gap: 32px;
}

.nav-buttons > button {
    color: white;
    background-color: rgb(25, 146, 212);

    font-weight: 600;

    width: 100px;

    padding: 12px;
    border-radius: 24px;

    cursor: pointer;
}

.main-area {
    background-color: rgb(226, 232, 240);

    display: grid;

    grid-template-columns: 3fr 1fr;

    gap: 20px;

    padding: 20px;
}

.projects {
    background-color: rgb(226, 232, 240);

    padding: 20px;
    min-height: 500px;

    display: flex; 
    flex-direction: column;
    gap: 12px;

    width: 100%;
}

.projects > h3 {
    margin-left: 5px;
    font-size: large;
    font-weight: 600;
}

.projects-grid-container > card {
    display: block;

    background-color: white;
    border-radius: 10px;
    border-left: 8px solid hsl(48, 96%, 50%);
    padding: 16px;


    width: 270px;
    height: 160px;

    line-height: 14px;

    overflow-y: scroll;
}

.projects-grid-container > card::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
}

.projects-grid-container > card:hover {
    cursor: pointer;
}

.projects-grid-container > card p {
    letter-spacing: 0px;
    font-size: small;
    font-weight: 100;
    color: rgb(85, 85, 85);
}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    gap: 20px;
}

.misc {
    padding-top: 20px;
    border-radius: 12px;

    min-height: 500px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.announcement {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.announcement-grid-container {
    background-color: white;

    padding: 24px;
    border-radius: 10px;

    display: grid;
    grid-auto-rows: auto;
    align-items: center;
    gap: 15px;
}

.trending-grid-container {
    background-color: white;

    padding: 24px;
    border-radius: 10px;

    display: grid;
    grid-auto-rows: auto;
    align-items: center;
    gap: 15px;
}

.announcement-grid-container > card p,
.trending-grid-container > card p {
    letter-spacing: 0px;
    font-size: small;
    font-weight: 100;
    color: rgb(85, 85, 85);
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;

    width: 100%;
    margin: 1px auto;
}