/* RESET + DEBUGGING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.container {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 260px 1fr;
    grid-template-rows: 60px 100px 1fr;

    grid-template-areas:
        "sidebar header"
        "sidebar nav"
        "sidebar main";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.main-area {
    grid-area: main;
}

.sidebar {
    background-color: rgb(25, 146, 212);

    display: flex;
    flex-direction: column;

    gap: 50px;

    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;

    color: white;
}

.logo > p {
    font-size: 1.7rem;
    font-weight: bold;
}

.svg-logo {
    width: 50px;
    height: 50px;

    fill: white;

    flex-shrink: 0;
}

.svg-logo svg {
    width: 100%;
    height: 100%;
    display: block;
}

.lists {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar-list-1,
.sidebar-list-2 {
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 24px;

    padding: 12px;
}

.sidebar-list-1 > li,
.sidebar-list-2 > li {
    color: white;

    font-size: 1.1rem;
    font-weight: 600;

    cursor: pointer;
}

.sidebar-list-2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header {
    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    gap: 24px;

    padding-left: 48px;
    padding-right: 48px;

}

.header svg {
    display: block;

    height: 100%;
}

.svg-magnify,
.svg-bell,
.svg-user {
    height: 50%;
}

.svg-bell {
    margin-left: auto;
    margin-right: 42px;
}

.svg-user {
    margin-right: -12px;
    fill: rgb(25, 146, 212);
}

.header > input[type="search"] {
    border-radius: 16px;
    width: 500px;
    height: 50%;

    padding-left: 16px;
    padding-right: 16px;

    font-size: 1em;
    font-weight: 400;

    background-color: rgb(226, 232, 240);
}

.header > input[type="search"]:hover {
    background-color: hsl(214, 32%, 87%);
}

.header > input[type="search"]:focus {
    background-color: hsl(214, 32%, 87%);
    outline: none;
}

.header > p {
    font-weight: 600;
}

.nav {
    background-color: white;

    border-top: 1px solid rgb(230, 230, 230);
}

.main-area {
    background-color: rgb(226, 232, 240);

    display: grid;

    grid-template-columns: 3fr 1fr;

    gap: 20px;

    padding: 20px;
}

.projects {
    background-color: white;

    border-radius: 12px;

    min-height: 500px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.misc {
    background-color: white;

    border-radius: 12px;

    min-height: 500px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}